/* Base Settings */
/*Generic */
/* line 7, ../sass/_base.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #444444;
  background: #fffff8;
  margin: 0;
}

/* line 14, ../sass/_base.scss */
p, span, ul, ol, dl {
  font-size: 1em;
  line-height: 1.6em;
}

/* line 18, ../sass/_base.scss */
abbr, acronym {
  border: none;
  font-style: normal;
}

/* line 22, ../sass/_base.scss */
img a {
  border: none;
}

/* line 25, ../sass/_base.scss */
.clear {
  clear: both;
}

/* line 28, ../sass/_base.scss */
blockquote {
  font-style: italic;
}

/* Reusable classes */
/* line 33, ../sass/_base.scss */
.hide {
  text-indent: -1000em;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* line 39, ../sass/_base.scss */
.item {
  clear: both;
  overflow: hidden;
  padding-top: 1em;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 18px;
}

/* line 48, ../sass/_base.scss */
.navigation {
  list-style: none;
  margin: 2em 0 0;
}
/* line 52, ../sass/_base.scss */
.navigation li {
  display: inline;
}
/* line 55, ../sass/_base.scss */
.navigation a {
  text-decoration: none;
}

/* line 59, ../sass/_base.scss */
.show {
  padding-left: 5px;
}

/* Structure */
/* line 63, ../sass/_base.scss */
#wrap {
  width: 744px;
  margin: 0 auto;
  position: relative;
}

/* line 68, ../sass/_base.scss */
header {
  margin: .5em 0 0;
  padding: 1em 0 0;
}

/* line 72, ../sass/_base.scss */
#site-title {
  padding-bottom: 1em;
}

/* line 75, ../sass/_base.scss */
#content {
  clear: both;
  margin: 3em 0 2em 0;
  padding-top: 1em;
}

/* line 80, ../sass/_base.scss */
#intro {
  clear: both;
  margin: 1em 0;
  padding-bottom: 1em;
}

/* line 86, ../sass/_base.scss */
#featured-item {
  clear: both;
  margin: 1.5em 0 1em;
}

/* line 90, ../sass/_base.scss */
#featured-collection {
  clear: both;
  margin: 1.5em 0 1em;
}

/* line 94, ../sass/_base.scss */
#featured-exhibit {
  clear: both;
  margin: 1.5em 0 1em;
}

/* line 98, ../sass/_base.scss */
#recent-items {
  clear: both;
  overflow: hidden;
  margin: 1.5em 0;
}

/* line 103, ../sass/_base.scss */
#tagcloud {
  margin-top: 2em;
}

/* line 106, ../sass/_base.scss */
#outputs {
  padding-top: 3em;
}

/* line 109, ../sass/_base.scss */
footer {
  clear: both;
  padding: 1em .5em;
  margin: 3em 0 1em;
  background-color: #dddddd;
}

/* Headings */
/* line 120, ../sass/_base.scss */
h1,
h2,
h3,
#site-title {
  font-family: "Trebuchet MS", sans-serif;
  font-weight: normal;
}

/* line 126, ../sass/_base.scss */
h1,
#site-title {
  color: #660066;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 36px;
  line-height: 1em;
}

/* line 133, ../sass/_base.scss */
h2 {
  border-bottom: 1px solid #dddddd;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: .75em;
}

/* line 139, ../sass/_base.scss */
h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* line 146, ../sass/_base.scss */
h4,
h5,
h6 {
  font-style: 1.2em;
  line-height: 1.25em;
  margin: .75em 0 0;
}

/* line 152, ../sass/_base.scss */
h5,
h6 {
  color: #666666;
  font-weight: normal;
}

/* line 156, ../sass/_base.scss */
h6 {
  font-size: italic;
}

/* Links */
/* line 161, ../sass/_base.scss */
a:link,
a:visited {
  color: #660066;
}

/* line 164, ../sass/_base.scss */
a:hover {
  color: #92278f;
}

/* line 167, ../sass/_base.scss */
a:active {
  color: magenta;
}

/* line 175, ../sass/_base.scss */
h1 a,
h2 a,
h3 a,
h4 a,
#site-title a {
  text-decoration: none;
}

/* line 179, ../sass/_base.scss */
h4 a {
  padding: .25em 0;
}

/* line 184, ../sass/_base.scss */
footer a {
  text-decoration: none;
}

/* Navigation */
/* line 189, ../sass/_base.scss */
#top-nav {
  margin: 0;
  width: 100%;
  padding: .5em 0;
  border-top: 1px solid #dddddd;
}
/* line 195, ../sass/_base.scss */
#top-nav ul {
  float: left;
  margin: 0;
  padding: 0 0 0 1px;
  position: relative;
  display: inline-table;
}
/* line 202, ../sass/_base.scss */
#top-nav ul:after {
  content: "";
  clear: both;
  display: block;
}
/* line 208, ../sass/_base.scss */
#top-nav ul ul {
  position: absolute;
}
/* line 211, ../sass/_base.scss */
#top-nav ul ul li {
  float: none;
  position: relative;
  background-color: #f2f2eb;
  background-image: none;
  border-bottom: 1px solid #eeeeee;
}
/* line 219, ../sass/_base.scss */
#top-nav ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
/* line 227, ../sass/_base.scss */
#top-nav ul li {
  float: left;
  padding: .5em 1.5em .5em 1em;
  display: block;
  background: url("../images/nav-bg.gif");
  background-position: left center;
  background-repeat: no-repeat;
}
/* line 235, ../sass/_base.scss */
#top-nav ul li:hover > ul {
  display: block;
  position: absolute;
  width: 166px;
}
/* line 240, ../sass/_base.scss */
#top-nav ul li a {
  display: block;
  text-decoration: none;
}
/* line 245, ../sass/_base.scss */
#top-nav ul ul {
  display: none;
}

/* line 251, ../sass/_base.scss */
.secondary-nav {
  margin: 0;
  width: 100%;
  overflow: hidden;
  /*border-top:1px solid $grey-light;*/
}
/* line 257, ../sass/_base.scss */
.secondary-nav ul {
  margin: 0;
  display: inline;
}
/* line 261, ../sass/_base.scss */
.secondary-nav ul li {
  float: left;
  padding: .5em 0 .5em 1em;
  background: url("../images/nav-bg.gif");
  background-position: left center;
  background-repeat: no-repeat;
}
/* line 268, ../sass/_base.scss */
.secondary-nav ul li a {
  float: left;
  display: block;
  padding: 6px .5em;
  color: #363636;
}
/* line 274, ../sass/_base.scss */
.secondary-nav ul li a:visited {
  color: #363636;
}
/* line 277, ../sass/_base.scss */
.secondary-nav ul li a:hover {
  color: #92278f;
}
/* line 285, ../sass/_base.scss */
.secondary-nav ul li.active a {
  color: #660066;
  font-weight: bold;
  padding: 5px .5em;
}
/* line 288, ../sass/_base.scss */
.secondary-nav .sort-links {
  width: 60%;
}
/* line 291, ../sass/_base.scss */
.secondary-nav .pagination {
  float: left;
  width: 40%;
  list-style-type: none;
}
/* line 296, ../sass/_base.scss */
.secondary-nav .pagination #page {
  width: 50px;
}

/* line 303, ../sass/_base.scss */
#bottom-nav .navigation {
  padding: 0;
  margin: 0 0 10px;
  width: 100%;
  float: left;
}
/* line 308, ../sass/_base.scss */
#bottom-nav .navigation a {
  text-decoration: none;
}
/* line 312, ../sass/_base.scss */
#bottom-nav .navigation li {
  padding-right: 10px;
  text-decoration: none;
  display: block;
  float: left;
}
/* line 318, ../sass/_base.scss */
#bottom-nav .navigation li ul {
  display: none;
}

/* line 327, ../sass/_base.scss */
#sort-links .sort-label {
  float: left;
  padding: .5em 0;
  display: block;
}
/* line 334, ../sass/_base.scss */
#sort-links #sort-links-list {
  float: left;
  padding: .5em 0 .5em .5em;
  text-decoration: none;
  display: block;
  margin: 0;
}
/* line 341, ../sass/_base.scss */
#sort-links #sort-links-list li {
  text-decoration: none;
  display: block;
  float: left;
  padding-right: 5px;
}
/* line 347, ../sass/_base.scss */
#sort-links #sort-links-list li a {
  text-decoration: none;
}

/* Forms */
/* line 353, ../sass/_base.scss */
fieldset {
  border: 0;
  padding: 0;
}

/* line 357, ../sass/_base.scss */
legend {
  font-size: 1.5em;
  line-height: 1em;
  margin: 1em 0 0;
}

/* line 362, ../sass/_base.scss */
input.textinput {
  margin-bottom: 1em;
}

/* line 365, ../sass/_base.scss */
label {
  display: block;
}

/* line 369, ../sass/_base.scss */
#search-container {
  float: right;
  font-size: .9em;
  padding: 1em 0 0 1em;
  margin: 0;
}
/* line 375, ../sass/_base.scss */
#search-container input {
  margin: 0 0 0 .5em;
  padding: 0;
}
/* line 379, ../sass/_base.scss */
#search-container a {
  float: right;
  font-size: 1em;
  padding: 1em 0em;
}
/* line 384, ../sass/_base.scss */
#search-container h3 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0;
}

/* line 392, ../sass/_base.scss */
#content fieldset {
  display: block;
  clear: both;
}
/* line 396, ../sass/_base.scss */
#content .inputs {
  overflow: hidden;
  zoom: 1;
}
/* line 401, ../sass/_base.scss */
#content .radioinputs label {
  display: block;
  float: left;
  width: 48%;
  clear: none;
}
/* line 409, ../sass/_base.scss */
#content .search-entry select {
  margin-bottom: .5em;
}
/* line 413, ../sass/_base.scss */
#content #submit_search {
  margin: .5em 0 0 458px;
}

/* line 418, ../sass/_base.scss */
#advanced-search-form .field {
  border-bottom: 1px solid #dddddd;
  padding: 0.75em 0;
  overflow: hidden;
  width: 100%;
}
/* line 424, ../sass/_base.scss */
#advanced-search-form .field label {
  float: left;
  width: 25%;
  font-weight: normal;
  clear: left;
}
/* line 431, ../sass/_base.scss */
#advanced-search-form .field .label {
  float: left;
  width: 25%;
  font-weight: normal;
  clear: left;
}
/* line 438, ../sass/_base.scss */
#advanced-search-form .field .textinput, #advanced-search-form .field select {
  float: right;
  width: 85%;
  background: white;
}
/* line 443, ../sass/_base.scss */
#advanced-search-form .field select {
  width: 86%;
}
/* line 446, ../sass/_base.scss */
#advanced-search-form .field button {
  float: right;
  margin-top: .5em;
}
/* line 450, ../sass/_base.scss */
#advanced-search-form .field input {
  width: 85%;
  float: right;
}
/* line 454, ../sass/_base.scss */
#advanced-search-form .field input .submitinput {
  margin-top: 1em;
}
/* line 459, ../sass/_base.scss */
#advanced-search-form #submit_search_advanced {
  float: right;
  width: 15%;
  margin-top: .5em;
}

/* Tables */
/* line 467, ../sass/_base.scss */
table {
  width: 100%;
}

/* line 471, ../sass/_base.scss */
th,
td {
  border-bottom: 1px solid #dddddd;
  margin: 0;
  padding: 0.5em 0;
}

/* line 476, ../sass/_base.scss */
th {
  border-width: 3px;
  text-align: left;
}
