/* Exhibit Styles */
#exhibits {
	p, .tags{
		margin-bottom: 1em;
	}
	h2 {
		text-transform: uppercase;
		margin-bottom: 0;
		a {
			text-decoration: none;
		}
	}
	h3 {
		clear: both;
		float: left;
		margin: 0;
	}
	.exhibit{
		border-bottom: 1px solid $grey-light;
		margin-bottom: 1em;
		h3{
			text-transform: uppercase;
			padding-top: .5em;
			a {
				text-decoration: none;
			}
		}
	}
}
#exhibit-header {
	clear:both;
}
#nav-container {
	overflow: hidden;
	zoom:1;
}
.exhibit-section-nav {
	overflow:hidden;
	padding:0;
	margin-left:0;
	li {
		list-style-type:none;
		float:left;
		text-transform:uppercase;
		letter-spacing:0.14em;
		padding:0 2em 0 0;
		a{
			float:left;
			text-decoration:none;
			display:block;
			color:$purple-super-light;
			border-bottom:2px solid $white;
			&:visited{
				color: $purple-super-light;
			}
			&:hover {
				color: $purple-main;
				border-bottom:2px solid $purple-main;
			}
			&.current {
				border-bottom:2px solid $purple-dark;
				color:$purple-dark;
			}
		}
	}	
}
.exhibit-page-nav {
	clear:left;
	float:left;
	overflow:hidden;
	width:100%;
	border-bottom:1px solid $grey-light;	
	padding:0 1em 0 0;
	margin-bottom:.5em;
	margin-left:0;
	ul {
		margin-left:0;
	}
	li{
		float:left;
		display:inline;
		padding:0 2px 0 0;
		margin:0;
		a{
			display:inline;
			padding:5px 1em .5em 0;
			text-decoration:none;
		}
		&.current{
			a {
				text-decoration:none;
				font-weight:bold;
			}
		}
	}
}
#exhibit-page-navigation{
	clear:both;
	margin-bottom:1em;
	float:right;
	.next-page {
		margin-left:2em;
	}
}
.summary{
	margin-bottom: 0;
}
.exhibit-item {
	overflow: hidden;
	a{
		text-decoration: none;
	}
}
a img {
	border:none;
}
.gallery-thumbnails-text-bottom {
	clear:both;
	.primary {
		.exhibit-item {
			margin-right:9px;
		}
	}
}
