/* Microformats */
.hTagcloud ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
	li {
		display:inline;
		}
	.popular,
	.-popular {
		font-size:120%;
		a, a:visited{
			color: #ccc;
		}
		a:hover {
			color: #4B0049;
		}
	}
	.v-popular {
		font-size:140%;
		a, a:visited{
			color: #ccc;
		}
		a:hover {
			color: #5B175A;
		}
	}
	.vv-popular {
		font-size:180%;
		a, a:visited{
			color: #bebebe;
		}
		a:hover {
			color: #6C2E6A;
			}
		}
	.vvv-popular {
		font-size:220%;
		a, a:visited{
			color: #b1b1b1;
		}
		a:hover{
			color: #7C467B;
		}
		}
	.vvvv-popular {
		font-size:260%;
		a, a:visited{
			color: #a3a3a3;
		}
		a:hover{
			color: #8C5D8B;
		}
		}
	.vvvvv-popular {
		font-size:300%;
		a, a:visited{
			color: #959595;
		}
		a:hover{
			color: #9D749C;
		}
		}
	.vvvvvv-popular {
		font-size:320%;
		a, a:visited{
			color: #888;
		}
		a:hover{
			color: #AD8BAC;
		}
		}
	.vvvvvvv-popular {
		font-size:340%;
		a, a:visited{
			color: #7a7a7a;
		}
		a:hover{
			color: #BEA2BD;
		}
		}
	.vvvvvvvv-popular {
		font-size:360%;
		a, a:visited{
			color: #6d6d6d;
		}
		a:hover{
			color: #CEB9CD;
		}
		}
}